.blog-post-content a {
    color: var(--link-a11y);
    cursor: pointer;
    border-bottom: 3px solid #aedbe8;
    text-decoration: none;
}
a {
    box-shadow: none;
    color: var(--not-quite-black);
    border-color: #f7f7f7;
    text-decoration: underline;
}
* {
    box-sizing: border-box;
}
p {
    margin-bottom: 0px;
}
.blog-post-content {
    color: #333;
}
body {
    text-rendering: optimizeLegibility;
}
body {
    color: #333;
}
body {
    color: #333;
    background-color: #fff;
    margin: 0;
}
:root {
    --not-quite-black: #23272a;
    --white: white;
    --blurple: #5865f2;
    --light-gray: #f6f6f6;
    --link-a11y: #0067e0;
    --hover-white: #ebeaea;
}
